# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# ckp
llava-*/*
clip-vit-large-patch14-336/*
llava-v1.6-34b.tar.gz

# sbatch scripts
*.sbatch
salloc
*.out

# my own .py
download.py
test.py

# images
images/*

environment.yml
